<h2>Task List</h2>

<ng-template #errorTpl>
  <p>Error loading tasks. Please try again later.</p>
</ng-template>

<mat-table [dataSource]="tasks$" class="mat-elevation-z8">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{ task.title }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="assignee">
    <mat-header-cell *matHeaderCellDef> Assignee </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{ task.assignee }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="dueDate">
    <mat-header-cell *matHeaderCellDef> Due Date </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{ task.dueDate }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let task">
      <mat-chip [color]="getStatusColor(task.priority)">{{
        task.status
      }}</mat-chip>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="priority">
    <mat-header-cell *matHeaderCellDef> Priority </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{ task.priority }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let task">
      <button
        mat-mini-fab
        aria-label="delete icon"
        color="warn"
        (click)="deleteTask(task._id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
