<h2>Task List</h2>

<mat-list role="list" *ngIf="tasks$; else errorTpl">
  <mat-list-item role="listitem" *ngFor="let task of tasks$ | async">
    {{ task.title }}
    {{ task.priority }}
    {{ task.dueDate | date }}
    <button
      mat-mini-fab
      aria-label="delete icon"
      color="warn"
      (click)="deleteTask(task._id)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<ng-template #errorTpl>
  <p>Error loading tasks. Please try again later.</p>
</ng-template>
