<h2>Task List</h2>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    matInput
    [formControl]="filterControl"
    placeholder="Filter e.g. task..."
    #input
  />
</mat-form-field>

<ng-template #errorTpl>
  <p>Error loading tasks. Please try again later.</p>
</ng-template>

<div>
  <table
    *ngIf="taskData$ | async as tasks; else errorTpl"
    mat-table
    matSort
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
    [trackBy]="trackByFn"
  >
    <!-- Base columns -->
    <ng-container
      *ngFor="let column of columnsToDisplay"
      matColumnDef="{{ column }}"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
      <td mat-cell *matCellDef="let element">{{ element[column] }}</td>
    </ng-container>
    <!-- Expand button -->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          aria-label="expand row"
          (click)="
            expandedElement = expandedElement === element ? null : element;
            $event.stopPropagation()
          "
        >
          <mat-icon *ngIf="expandedElement === element; else down"
            >keyboard_arrow_up</mat-icon
          >
          <ng-template #down>
            <mat-icon>keyboard_arrow_down</mat-icon>
          </ng-template>
        </button>
      </td>
    </ng-container>
    <!-- Expandable part -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="columnsToDisplayWithExpand.length"
      >
        <div class="example-element-detail" *ngIf="expandedElement === element">
          <div class="example-element-description">
            {{ element.description }}
          </div>
        </div>
      </td>
    </ng-container>
    <!-- Table row -->
    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: columnsToDisplayWithExpand"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
