<form [formGroup]="taskForm">
  <mat-dialog-content>
    <!-- TITLE -->
    <mat-form-field>
      <mat-label>{{ taskFormLabels.title }}</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Enter task title"
        required
      />
      <mat-error *ngIf="titleControl?.invalid && titleControl?.touched">
        Title is required (min. 3 characters).</mat-error
      >
    </mat-form-field>
    <!-- DESCRIPTION -->
    <mat-form-field>
      <mat-label>{{ taskFormLabels.description }}</mat-label>
      <textarea matInput rows="5" formControlName="description"> </textarea>
    </mat-form-field>
    <!-- ASSIGNEE -->
    <mat-form-field>
      <mat-label>{{ taskFormLabels.assignee }}</mat-label>
      <input
        matInput
        formControlName="assignee"
        placeholder="Assign to someone"
      />
    </mat-form-field>
    <!-- DUE DATE -->
    <mat-form-field type="date">
      <mat-label>{{ taskFormLabels.dueDate }}</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="dueDate"
        [min]="minDate"
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- PRIORITY -->
    <mat-form-field>
      <mat-label>{{ taskFormLabels.priority }}</mat-label>
      <mat-select formControlName="priority">
        @for (priority of priorities; track priority) {
        <mat-option [value]="priority">{{ priority.value }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- COMPLETED -->
    <section>
      <mat-checkbox formControlName="completed" ngDefaultControl>{{
        taskFormLabels.completed
      }}</mat-checkbox>
    </section>
  </mat-dialog-content>
</form>
